.topnav {
    display: flex;
    float: right;
}

body, html {
    height: 100%;
}
  
* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("/images/city-view.jpg");
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.large-heading {
    font-size: 64px;
    font-weight: 900;
}